---
import Layout from "../layouts/Layout.astro";
import "animate.css";
import ButtonComponent from "../components/ButtonComponent.astro";
import AboutComponent from "../components/AboutComponent.astro";
import TourComponent from "../components/TourComponent.astro";
import EventosAstronomicos from "../components/EventosAstronomicos.astro";
import GalleryComponent from "../components/GalleryComponent.astro";
import Colaboradores from "../components/Colaboradores.astro";

// Supports weights 100-900
import "@fontsource-variable/orbitron";
import Contacto from "../components/Contacto.astro";
import HeroComponent from "../components/HeroComponent.astro";
---

<Layout
  title="Astroturismo Centauri"
  description="Astroturismo Centauri"
  keywords="Astroturismo Centauri"
>
  <section id="hero" class="h-screen w-full relative">
    <!-- Imagen de fondo -->
    <div class="absolute inset-0">
      <video class="w-full h-full object-cover" autoplay muted loop playsinline>
        <source src="./videos/herovideo2.mp4" type="video/mp4" />
        Tu navegador no soporta la reproducción de videos.
      </video>
    </div>

    <!-- Contenido del hero -->

    <HeroComponent id="hero" />
  </section>
  <div id="about">
    <AboutComponent />
  </div>
  <div id="tours">
    <TourComponent />
  </div>
  <div id="eventos">
    <EventosAstronomicos />
  </div>
  <div id="galeria">
    <GalleryComponent />
  </div>
  <div id="colaboradores">
    <Colaboradores />
  </div>
  <div id="contacto">
    <Contacto />
  </div>
</Layout>
