---

---

<footer class="w-full bg-black text-white py-8">
  <!-- Texto destacado -->
  <h1
    class="relative text-center font-black text-[3.75rem] md:text-[5rem] lg:text-[15rem] uppercase stroke-text w-full"
  >
    centauri
  </h1>

  <!-- Información adicional -->
  <div class="text-center text-sm md:text-base font-light">
    Creado por <span class="font-normal">Innext Solutions</span>
  </div>
</footer>
<style>
  h1 {
    font-family: "Orbitron Variable", sans-serif;
    /* font-family: "Tourney Variable", system-ui; */
    /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  }
  .stroke-text {
    color: transparent;
    -webkit-text-stroke: 2px white; /* Trazo del texto */
    position: relative;
  }
</style>
