---
import GalleryMasonry from "../components/GalleryMasonry.tsx";
---

<section class="py-12 px-6 bg-black text-white">
  <h2 class="text-3xl font-semibold text-center mb-4">
    Galería de los Tours Realizados
  </h2>
  <p class="text-center mb-8 max-w-3xl mx-auto">
    Explora algunas de las fotos de los tours realizados. A continuación, podrás
    ver un resumen visual de los momentos más destacados. ¡Haz clic en las
    imágenes para verlas en detalle!
  </p>
  <GalleryMasonry client:only="react" />
</section>
