---
import ButtonComponent from "./ButtonComponent.astro";
---

<section id="hero" class="h-screen w-full relative">
  <div
    class="relative w-full flex flex-col h-screen bg-gradient-to-b from-transparent to-black justify-center items-start text-hero px-4 md:px-8 lg:px-12"
  >
    <h1
      class="relative font-black text-[3.75rem] md:text-[5rem] lg:text-[6rem] uppercase stroke-text w-full -mb-8 md:-mb-10 lg:-mb-14"
    >
      centauri
    </h1>
    <h2
      class="font-medium text-[2.88rem] md:text-[3.82rem] lg:text-[4.55rem] text-white"
    >
      ASTRO TURISMO
    </h2>

    <div class="w-1/4 border-b border-white my-1"></div>

    <p class="text-white text-lg w-[400px] md:w-[500px] lg:w-[600px]">
      Descubre los secretos del cosmos bajo los cielos más despejados del mundo.
      Vive una experiencia única que conecta ciencia, naturaleza y aventura.
    </p>
    <ButtonComponent text="Reservar tour" href="/explorar" target="_self" />
  </div>
</section>

<style>
  h1 {
    font-family: "Orbitron Variable", sans-serif;
  }
  .stroke-text {
    color: transparent;
    -webkit-text-stroke: 2px white; /* Trazo del texto */
    position: relative;
  }
  .text-hero {
    animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s;
  }
</style>
