---
const whatsappNumber = "56975290911"; // Reemplaza con tu número de WhatsApp
---

<a
  href={`https://wa.me/${whatsappNumber}`}
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-6 right-6 bg-white text-white p-4 rounded-full shadow-lg transition transform hover:scale-110 z-50 flex items-center justify-center"
  aria-label="Chat en WhatsApp"
>
  <img src="./images/whatsapp.svg" alt="WhatsApp" class="w-10 h-10" />
  <!-- <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-8 h-8"
    viewBox="0 0 48 48"
    fill="none"
  >
    <circle cx="24" cy="24" r="24" fill="#25D366"></circle>
    <path
      d="M33.656 28.563c-.55-.275-3.266-1.605-3.77-1.79-.503-.184-.87-.276-1.238.276-.366.552-1.423 1.79-1.745 2.158-.323.368-.644.414-1.193.14-.55-.276-2.323-.858-4.424-2.735-1.634-1.453-2.735-3.245-3.059-3.795-.324-.552-.036-.851.239-1.127.246-.247.55-.644.825-.967.275-.323.367-.552.55-.92.184-.367.092-.69-.046-.967-.138-.276-1.238-2.986-1.7-4.1-.456-1.105-.917-.956-1.238-.956h-1.055c-.322 0-.967.138-1.474.69-.505.553-1.92 1.878-1.92 4.59 0 2.711 1.965 5.332 2.239 5.705.276.368 3.864 5.91 9.37 8.29 1.312.552 2.34.88 3.14 1.12 1.318.42 2.518.36 3.468.22 1.057-.16 3.266-1.338 3.727-2.63.46-1.291.46-2.398.322-2.63-.138-.231-.504-.368-1.055-.644Z"
      fill="#fff"></path>
  </svg> -->
</a>
